body{
    background-color: white;
    /* background-size: cover; */
    
}

.login{
    width:100vw;
    height: 100vh;
display: flex;
justify-content: center;
align-items: center;

background-image: url("../images/bg.jpg");

}
.amit{
    background-color: none;
    background-color:transparent;
}

